@tailwind base;
@tailwind components;
@tailwind utilities;

/* Measures: 14cm x 10cm --- *0.15 = 319 x 446*/
body {
    background-color: #121212;
    margin: 0;
    min-width: 319px;
    max-width: 319px;
    border: solid 0.5px white;
    border-width: 1px;
    min-height: 446px;
}
button {
    cursor: pointer;
}
